* {
    font-size: 50px;
}

body {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calcBody {
    display: flex;
}

.row1,
.row2,
.row3,
.row4 {
    display: flex;
    justify-content: center;
    align-items: center;
}